.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  /*
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header img
{
  width:50px;
  height:30px;
}



.nav-item
{
  font-size:14px;
  
}
.nav-link
{
  color:#c9cacc!important;
}
@media only screen and (min-width: 1200px) 
{
  .navbar-nav
  {
    margin-left: 28%!important;
    
  }
}
.navbar-expand-md
{
  /*background-color:#6b1eac!important;*/
  background-image: linear-gradient(to right,  #6b1eac, #280d80 );
}
.welcomecontainer
{
  text-align:center;
}
.welcome-p
{
  font-size:14px;
  padding-right: 12%!important;
  padding-left:12%!important;
  letter-spacing: 0.6px;
  word-spacing: 2px;
  line-height: 1.8;

}
.card
{
  box-shadow: 3px 3px #6b1eac;
}
.last-Button
{
  background-color:#6b1eac;
  border-color:#6b1eac;
}
.collapsed-item
{
  color:#6b1eac;
}
ol{
  text-decoration: none;
   list-style-type: none;
}

.footer
{
  background-image: linear-gradient(to right,  #6b1eac, #280d80 );
  margin-top:11%!important;
}
.footer
{
  color:#ffffff;
}
.links-items p
{
  font-size: 12px;
}
ul{
  text-decoration: none!important;
  list-style-type: none!important;
}
.second_row
{
  background-color:#ffffff;
  color:#280d80!important;
  
}
svg{
  color:#ffffff!important
}
.heading_sec
{
  text-align: center;
  color:#3e4142;
}
.List_sec
{
  font-size: 20px;
  line-height: 1.8;
}
.header_last_child
{
  text-align:center;
}
.contact_heading
{
  text-align: center;
  color:#494949;
}
.form-control-btn
{
  background-color: #280d80;
  color:#ffffff;
}
.mapouter
{
  position:relative;
  text-align:right;
  width:300px;
  height:300px;
}
.gmap_canvas 
{overflow:hidden;
  background:none!important;
  width:600px;
  height:400px;
}
.gmap_iframe 
{
  width:600px!important;
  height:400px!important;
}
/*.address_sec_one
{
  border:1px solid black;
  border-color:#6b1eac;
}
*/
.social_media
{
  color:#280d80!important;
}


